@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Arenq';
  src: url('./fonts/arenq.otf');
}

@font-face {
  font-family: 'Mova';
  src: url('./fonts/mova.otf');
}

@font-face {
  font-family: 'Beckman';
  src: url('./fonts/beckman.otf');
}

@font-face {
  font-family: 'Overcame Bold';
  src: url('./fonts/overcame-bold.woff');
}

@font-face {
  font-family: 'Overcame Outline';
  src: url('./fonts/overcame-outline.woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.nav-links::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #292929;
  margin: auto;
  transition: 0.5s;
}

.nav-links:hover::after {
  width: 70%;
}

#about {
  margin-left: -24px;
  font-size: 100px;
}

#projects {
  margin-left: -2px;
  font-size: 100px;
}

#contact {
  margin-left: -20px;
  font-size: 95px;
  letter-spacing: -2px;
}

.hero-heading {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.vertical-timeline.vertical-timeline-custom-line::before {
  background: rgb(66, 66, 66);
  background: linear-gradient(
    180deg,
    rgba(66, 66, 66, 0.8) 40%,
    rgba(234, 234, 236, 0.45) 100%
  );
}

.vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px #afafafd2, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.glassmorphism {
  background: rgba(20, 20, 20, 0.7);
  box-shadow: 0 8px 32px 0 rgba(133, 133, 133, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.card-shadow {
  box-shadow: rgba(155, 155, 155, 0.3) 0 2px 6px,
    rgba(155, 155, 155, 0.22) 0 0 4px;
  border-radius: 24px;
}

.black-gradient {
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}

.bw-gradient {
  background: rgb(10, 10, 10);
  background: linear-gradient(
    180deg,
    rgba(10, 10, 10, 0.8) 40%,
    rgba(153, 153, 161, 0) 70%
  );
}

.card-gradient {
  background: rgb(244, 244, 246);
  background: linear-gradient(
    158deg,
    rgba(153, 153, 161, 1) 25%,
    rgba(153, 153, 161, 1) 100%
  );
}

/* canvas- styles */
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

/* styles.css */

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-bounce {
  animation: bounce 3s forwards; /* Change duration to 3 seconds and set forwards to retain the final state */
}

@keyframes write {
  from {
    width:2;
  }
}

.text-write span {
  animation: write 8s steps(40, end) infinite; /* Adjust duration and steps as needed */
  width: 480px;
  margin-right: 10px;

}




@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

Responsiveness about

.tech-items-wrapper {
  margin: 2px;
  margin-bottom: 4%;
}


.big-picture {
  /* margin-top: 19%; */
  margin-right: 70px;
  width: 40%;
  

}


Global Styles */
.card-gradient {
  background: linear-gradient(45deg, #f3ec78, #af4261);
} 

.bg-jetLight {
  background-color: #333333;
}

.text-taupe {
  color: #8d8d8d;
}

/* Media Queries for responsiveness */
@media (max-width: 640px) {
  /* Small screens like mobile phones */
  .card-gradient {
    width: 100%;
    padding: 5px;
  }

  .bg-jetLight {
    padding: 10px;
    min-height: 150px;
  }

  .text-[18px] {
    font-size: 16px;
  }

  .leading-[30px] {
    line-height: 24px;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  /* Tablets */
  .card-gradient {
    width: 70%;
    padding: 10px;
  }

  .bg-jetLight {
    padding: 20px;
    min-height: 180px;
  }

  .text-[18px] {
    font-size: 17px;
  }

  .leading-[30px] {
    line-height: 28px;
  }
}

@media (min-width: 1025px) {
  /* Desktops */
  .card-gradient {
    width: 5%;
    padding: 15px;
  }

  .bg-jetLight {
    padding: 15px;
    min-height: 150px;
  }

  .text-[18px] {
    font-size: 18px;
  }

  .leading-[30px] {
    line-height: 30px;
  }
}


.mongo {
  width: 72%;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
max-height: 100%;
height: 650px;
  background-color: rgb(231, 232, 233);
}

@media (max-width: 380px) {
  .hero-container {
    margin-bottom: 0;
    margin-top: 0;
    height: 600px;
  
  }

  .section-wrapper span {
    width: 150px;
  }

}

.section-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;align-items: center;
  align-self: center;
  flex-direction:column;
  width: 100%;
  box-shadow: 3px;
}

.section-wrapper span {
  width: 100px;
}


.hero-content-2 {
  background-color: #af4261;
  width: 40%;
  height: 50px;
  font: bolder;
  display: flex;
  justify-content: center;
  align-items: center;

}

.hero-content-2 p {
  font: bolder;

}

.image-wrapper  {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(155, 150, 150);
  margin-top: 5px;
  margin-bottom: 5px;
}

.image-wrapper  {
  
}

.image-wrapper img {
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px;
  border-radius: 80%;
  margin-top: 20px;
}

